## -*- coding: utf-8; mode:html -*-
<%def name="html_head()">
    <meta charset="utf-8">
    <meta name="description" content="${description}" >
    <title>${title}</title>
    <!-- Le styles -->
    %if use_bundles:
        <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        <!-- <script src="/assets/js/all.js" type="text/javascript"></script> -->
    %else:
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/slides.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
        %if has_custom_css:
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        %endif
        <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.colorbox-min.js" type="text/javascript"></script>
        <script src="/assets/js/slides.min.jquery.js" type="text/javascript"></script>
        <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    %endif
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    %if rss_link:
        ${rss_link}
    %else:
        %for language in translations:
            <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, lang)}">
        %endfor
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif
</%def>


<%def name="html_social()">
%if add_this_buttons:
    <!-- Social buttons -->
    <div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
    <a class="addthis_button_more">Share</a>
    <ul><li><a class="addthis_button_facebook"></a></li>
    <li><a class="addthis_button_google_plusone_share"></a></li>
    <li><a class="addthis_button_linkedin"></a></li>
    <li><a class="addthis_button_twitter"></a></li>
    </ul>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
    <!-- End of social buttons -->
%endif
</%def>


<%def name="html_sidebar_links()">
    %for url, text in sidebar_links[lang]:
        % if rel_link(permalink, url) == "#":
            <li class="active"><a href="${url}">${text}</a>
        %else:
            <li><a href="${url}">${text}</a>
        %endif
    %endfor
</%def>


<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <a href="${_link("index", None, langname)}">${messages[langname]["LANGUAGE"]}</a>
        %endif
    %endfor
</%def>
