a:link {
    color:#007600;
    text-decoration:none;
}

a:visited {
    color:#007600;
    text-decoration:none;
}

a:hover { color:#007666; }
a:active {
    color:#007600;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family:Monospace;
    color:#585858;
    background-color: #000000;
    width: 75%;
}

#header {
    height:110px;
}


#blog-title {
    float: left;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 5em;
    clear: both;
}

#description {
    line-height:1em;
    float: left;
    color: #FFFFFF;
    font-size: 2em;
    vertical-align: baseline;
    clear: both;
    margin-left: 1em;
}


#mainlinks-bar {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top:1px dotted #C8C8C8;
    text-align: left;
}

#mainlinks-bar li {
    margin-left: 13px;
    font-size: 1.5em;
    text-transform: lowercase;
    display: inline;
    list-style-type: none;
}

#sidebar {
    float: right;
}


#wrap {
    text-align:left;
    font-size:14px;
    margin-top:-15px;
    margin-bottom:15px;
}

.postbox {
    padding:0px 0px 0px 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 20px rgb(0, 162, 0);
}

.post {
    padding:0px 0px 0px 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 20px rgb(0, 162, 0);
    margin:0px 0px 30px 0px;
}


.meta {
    margin-left:-25px;
    margin-right:-10px;
    padding:15px;
    background:#EAEAEA;
    border-radius: 5px;
}

#footer {
    text-align:center;
    clear:both;
    border-top:1px dotted #C8C8C8;
    padding:10px 0px 0px 0px;
}

.pager {
    margin: 0px;
    text-align: center;
    padding: 0px;
}


.pager li{
    display: inline;
    list-style-type: none;
}

.updated {
    color: rgb(255,0,0);
    text-color: red;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
}

.tags-header {
    text-align: left;
}
