Debian Install Party V.7

El próximo día 22 de Febrero se celebrará en la ESI (Escuela Superior de Informática de Ciudad Real) una Debian Install Party.

La party, en principio, está abierta a todo el mundo y puede venir quien quiera. El horario será de 16:00 - 21:00h, pero no será nada intensivo, más bien relajado.

Si deseas asistir, envía un e-mail a la siguiente dirección: <b>josel.sanroma(arroba)alu.uclm.es</b> para pre-inscribirte, indicando el hardware que tiene el ordenador que vas a llevar. Si tienes una LiveCD, puedes enviar también la salida del comando "lspci". Además si traes un ordenador sin CD, indica si dispones de arranque por red o por USB (puedes encontrar esta información en el manual de instrucciones de tu motherboard o en la BIOS). Necesitamos todo esto para estar preparados ante posibles imprevistos.

La pre-inscripción no obliga a nada, simplemente es para tener un número aproximado de participantes.


Algunas cosas a tener en cuenta:

<ul>
    <li> <b>Llevad el disco duro particionado</b>, necesitas como mínimo unos <b>20GB</b> de espacio libre y particionado, es decir, una partición con al menos 20GB de espacio libre. En ese espacio se realizarán las particiones necesarias.Si no sabes como hacerlo avísanos antes para que te ayudemos porque en la party no habrá tiempo. </li>
    <li>El horario será de 16:00h a 21:00h (Aula aún por confirmar). Estaremos allí a las 15:30h para que los asistentes puedan montar su puesto y estemos todos listos para empezar a las 16:00h. Se ruega puntualidad. </li>
    <li> Puedes traer ordenador portátil o de sobremesa, pero no podemos asegurar que tengamos monitor, así que trae el tuyo propio en este caso.</li>
    <li> Se realizarán diferentes talleres (Filosofía del Software Libre, Makefiles, conectividad SSH, herramientas colaborativas como repositorios, emacs, videojuegos libres, astronomía, instalación de entorno de desarrollo para Nintendo DS, torrent, etc) aún por decidir. </li>
    <li> Tendrán prioridad los/as alumnos/as de la ESI.</li>
</ul>
