¿Cómo imprimo con color en un terminal de texto?

Ya que nuestros programas "modo texto" son bastante sosos y puede ser difícil leer la salida (sobre todo si son muy "verbosos"), a veces es útil poder imprimir en colores en pantalla.

Para conseguir esto en python basta con un simple carácter:
el <a href="http://www.asciitable.com">código ascii</a> 27. No hay que
usar librerías externas ni nada. Con ese caracter tendremos asceso a
los códigos de colores del prompt.

Ya que nuestros programas "modo texto" son bastante sosos y puede ser difícil leer la salida (sobre todo si son muy "verbosos"), a veces es útil poder imprimir en colores en pantalla.

Para conseguir esto en python basta con un simple carácter: el <a href="http://www.asciitable.com">código ascii</a> 27. No hay que usar librerías externas ni nada. Con ese caracter tendremos asceso a los códigos de colores del prompt.

<b>Ejemplo:</b>

<code language=python>
print chr(27)+"[0;36m"+"este texto sale azul"
print chr(27)+"[0;46m"+"este texto sale con fondo azul"+chr(27)+"[0m"
</code>

Hay que tener en cuenta que la configuración de color se queda fijada para las siguientes salidas de texto. Si queréis que vuelva a escribir con los colores por defecto, debéis ejecutar:
<code language=python>
print chr(27)+"[0m"
</code>

<h2>Formato y Colores</h2>
El formato de los códigos es, como habréis podido observar:
<tt>[A;Bm</tt>

<b>A</b> es un dígito que indica formato:
0 - normal
1 - negrita
2 - diluir
3 - cursiva
4 - subrayado
5 - parpadeo lento
6  - parpadeo rápido
7 - negativo (invertir)

<b>B</b> es un número que indica el color:
30-39 - color de texto, intensidad normal
40-49 - color de fondo, intensidad normal
90-99 - color de texto, intensidad fuerte
100-109 - color de fondo, intensidad fuerte

<b>Tabla de Colores</b>

<table border="1">
<tr>
<th>Intensidad</th>
<th>x0</th>
<th>x1</th>
<th>x2</th>
<th>x3</th>
<th>x4</th>
<th>x5</th>
<th>x6</th>
<th>x7</th>
<th>x9</th>
</tr>

<tr>
<th>Claro</th>
<td bgcolor="darkgray"/>
<td bgcolor="red"/>
<td bgcolor="lime"/>
<td bgcolor="yellow"/>
<td bgcolor="blue"/>
<td bgcolor="magenta"/>
<td bgcolor="cyan"/>
<td bgcolor="white"/>
<td>reset</td>
</tr>

<tr>
<th>Normal</th>
<td bgcolor="black"/>
<td bgcolor="darkred"/>
<td bgcolor="green"/>
<td bgcolor="darkgoldenrod"/>
<td bgcolor="darkblue"/>
<td bgcolor="darkmagenta"/>
<td bgcolor="darkcyan"/>
<td bgcolor="silver"/>
<td>reset</td>
</tr>

</table>

<h2>Referencias</h2>
<ul>
<li>Gracias a Oscarah por el hint ;)</li>
<li>Para saber más sobre los códigos ANSI: <a href="http://www.gentoo.org/doc/es/articles/prompt-magic.xml">http://www.gentoo.org/doc/es/articles/prompt-magic.xml</a></li>
<li>http://en.wikipedia.org/wiki/ANSI_escape_code</li>
</ul>
